*~
*.in
*.la
*.lo
*.o
*.deps/
*.libs/
*.tar.gz
*.stamp
*.bak
INSTALL
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
osmgpsmap-1.0.pc
python/autom4te.cache/
python/build/
python/configure
python/osmgpsmap.c
src/Makefile
src/mapviewer
stamp-h1
ChangeLog
.project
.cproject
.autotools
.pydevproject
