*~
*.in
*.la
*.lo
*.o
*.deps/
*.libs/
*.tar.gz
*.stamp
*.bak
INSTALL
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
osmgpsmap-1.0.pc
python/autom4te.cache/
python/build/
python/configure
python/osmgpsmap.c
src/Makefile
src/mapviewer
stamp-h1
ChangeLog
.project
.cproject
.autotools
.pydevproject
gtk-doc.make
omf.make
xmldocs.make
docs/reference/html/
docs/reference/tmpl/
docs/reference/xml/
docs/reference/libosmgpsmap-decl-list.txt
docs/reference/libosmgpsmap-decl.txt
docs/reference/libosmgpsmap-undeclared.txt
docs/reference/libosmgpsmap-undocumented.txt
docs/reference/libosmgpsmap-unused.txt
docs/reference/libosmgpsmap.args
docs/reference/libosmgpsmap.hierarchy
docs/reference/libosmgpsmap.interfaces
docs/reference/libosmgpsmap.prerequisites
docs/reference/libosmgpsmap.signals
docs/reference/version.xml
examples/editable_track
examples/polygon
