*~
*.in
*.la
*.lo
*.o
*.deps/
*.libs/
*.tar.gz
INSTALL
Makefile
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
osmgpsmap.pc
python/COPYING
python/INSTALL
python/autom4te.cache/
python/build/
python/configure
python/osmgpsmap.c
src/Makefile
src/mapviewer
stamp-h1
ChangeLog

